@import 'resources/variables.less';

body{
  margin: 0px;
  background: #f5f5f5;
  padding-top: 70px;
}

.divTopBar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-transition: top 1.2s;
  transition: top 1.2s;
  z-index: 999;
}

.divTopBar:hover .imgTopBarArrow{
  bottom: 5px;
}

.divUserImage{
  position: absolute;
  top: 5px;
  right: 10px;
  height: 60px;
  width: 60px;
  background: #f5f5f5;
  border-radius: 30px;
  background-image: url('../images/Personen/persoon13.png');
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
}

.divUserImage:hover{
  cursor: pointer;
  opacity: 0.8;
}

.divTopBarContent{
  position: relative;
  height: 100%;
  text-align: center;
  color: #c5c5c5;
  margin: auto;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
}

.imgTopBarArrow{
  position: absolute;
  width: 20px;
  bottom: 7px;
  left: ~"calc(50% - 10px)";
  -webkit-transition: bottom 0.2s;
  transition: bottom 0.2s;
}

.divTopContent{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  top: -100%;
  -webkit-transition: top 1.2s;
  transition: top 1.2s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px;
}

.divTopContentFooter{
  background: #6ad3b7;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
}

.divTopContentFooterButton{
  background: #8ce6ce;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  position: absolute;
  left: ~"calc(50% - 30px)";
  bottom: 30px;
  cursor: pointer;
}

.divTopContentFooterButton:hover .imgTopContentFooterArrow{
  margin-top: 13px;
}

.imgTopContentFooterArrow{
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-top: 15px;
  -webkit-transition: margin-top 0.2s;
  transition: margin-top 0.2s;
}

#divPerson{
  float: left;
  width: 80%;
  height: auto;
}

#tablePerson{
  position: relative;
  height: 100px;
  vertical-align: top !important;
  border-collapse: separate;
  border-spacing: 20px 20px;
}

#imgPersonPic{
  height: 100px;
  margin-right: 20px;
  margin-bottom: -50px;
}

.pTopContentTitle{
  font-family: Lato-Light;
  font-size: 34px;
  color: #a0a0a0;
  float: left;
}

.pTopContentSubTitle{
  font-family: Lato-Light;
  font-size: 24px;
  color: #a0a0a0;
  float: left;
}

.divBlock{
  width: 15px;
  height: 15px;
  background: #8ce6ce;
  float: left;
  margin-right: 20px;
}

.imgStar{
  height: 20px;
  float: left;
}

.divTextWrapper{
  width: 50%;
  height: auto;
  float: left;
  margin: 20px;
}

.pTitleUnderline{
  font-family: Lato-Light;
  font-size: 22px;
  color: #a0a0a0;
  float: left;
  border-bottom: 1px solid #a0a0a0;
  margin-bottom: 20px;
}

.pText{
  width: 100%;
  float: left;
  color: #a0a0a0;
}

#divRecent{
  width: 20%;
  max-width: 550px;
  float: right;
  height: auto;
  text-align: right;
  max-height: 90%;
  overflow: hidden;
}

.pTitle{
  color: #a0a0a0;
  font-size: 18px;
  margin-bottom: 20px;
}

.divExpertise{
  width: 100%;
  height: 150px;
  background: #f9f9f9;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  text-align: left;
}

.tableExpertise{
  position: relative;
  width: 100%;
  height: 100%;
}

.pSmallTitle{
  color: #a0a0a0;
  font-size: 14px;
  font-family: Lato-Semibold;
}

.pItalic{
  color: #a0a0a0;
  font-size: 13px;
  font-family: Lato-Italic;
}


.dashboard_container{
  margin: 3%;

  .web_content{
      width: 60%;
      margin-right: 3%;
      float: left;
      background-color: gray;
      height: 500px;
  }

  .side_content{
      float: left;
      width: 37%; 

      .search_container{
          position: relative;
          width: 100%;
          height: 80px;
          margin-bottom: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid #E8E8E8;
          .tag_container{
            height: 30px;
            width: 100%;
            text-align: right;
            span{
                  padding: 8px;
                  background-color: #757575;
                  color: #E8E8E8;
                  font-size: 14px;
            }
          }
          .search_bar{
              width: ~'calc(100% - 55px)';
              height: ~'calc(100% - 30px)';
              float: left; 
              margin: 0px;
              padding: 0px;
              border: 0px;
              font-size: 16px;
              color: #9C9C9C;
              padding-left: 20px;
              margin-right: 5px;
              box-sizing: border-box;
              &:focus{
                outline: 0;
              }
          }
          .search_button{
              height: ~'calc(100% - 30px)';
              width: 50px;
              background-color: @color_main1;
              background-image: url('../images/magnifier.png');
              background-size: 50%;
              background-position: center;
              background-repeat: no-repeat;
          }
  
      }

      .documents_container{
          width: 100%;
          .header{
              width: ~'calc(100% - 150px)';
              background-color: #fff;
              height: 40px;
              float: left;
              line-height: 40px;
              padding-left: 20px;
              font-size: 14px;
              margin-right: 5px;
              box-sizing: border-box;
              margin-bottom: 10px;
          }
          .btn_addDocument{
            width: 145px;
            background-color: @color_main1;
            font-size: 14px;
            color: #fff;
            height: 40px;

              i{
                margin-left: 5px;
                display: inline-block;
              }
          }

          .doc{
              width: ~'calc(50% - 3px)';
              float: left;
              
          }
      }
  }
}
// dashboard style
