@import "resources/removeDefaultCss.css";
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body {
  background-color: #FFF;
  height: 100%;
  width: 100%;
  font-family: Lato-Light;
  font-size: 100%;
  color: #4a4a4a;
}
