<div class="divTopBar" ng-style="topBarStyle" ng-click="slideDown()">
    <div class="divTopBarContent">
        Tony Klaasen
    </div>
    <img src="./images/arrow_down.png" class="imgTopBarArrow" />
    <div class="divUserImage"></div>
</div>

<!-- DASHBOARD -->
<div class="dashboard_container">
    <div class="web_content">
        
    </div>

    <div class="side_content">

        <!-- ZOEKEN -->
        <div class="search_container">
            <div class="tag_container">
                <span>School</span>
                <span>Samenleving</span>
            </div>
            <input class="search_bar" type="text" placeholder="School en samenleving"></input>
            <button class="search_button"></button>
        </div>

        <!-- ZOEKEN -->
        <div class="documents_container">
            <div class="header">Bronnen van Tony Klaassen</div> <!-- Naam moet dynamisch toegevoegd worden -->
            <button class="btn_addDocument">Bron maken <i class="fa fa-plus" aria-hidden="true"></i></button>

            <!-- DOCUMENTS -->
            <div class="documents">

                <!-- Doc -->
                <div class="doc">
                    <h3>Samenleving document</h3>
                    <span>03-04-2016</span>
                    <span>Auteur: Ryan Smith</span>
                    <div class="stars">
                        <img src="images/star-filled.png"></img>
                        <img src="images/star-filled.png"></img>
                        <img src="images/star-filled.png"></img>
                        <img src="images/star-filled.png"></img>
                        <img src="images/star-half-filled.png"></img>
                    </div>
                </div>
            </div>

            <!-- Doc -->
                <div class="doc">
                    <h3>Samenleving document</h3>
                    <span>03-04-2016</span>
                    <span>Auteur: Ryan Smith</span>
                    <div class="stars">
                        <img src="images/star_filled.jpg"></img>
                        <img src="images/star_filled.jpg"></img>
                        <img src="images/star_filled.jpg"></img>
                        <img src="images/star_filled.jpg"></img>
                        <img src="images/star.jpg"></img>
                    </div>
                </div>
            </div>

            <!-- Doc -->
            <div class="doc">
                <h3>Samenleving document</h3>
                <span>03-04-2016</span>
                <span>Auteur: Ryan Smith</span>
                <div class="stars">
                    <img src="images/star_filled.jpg"></img>
                    <img src="images/star_filled.jpg"></img>
                    <img src="images/star_filled.jpg"></img>
                    <img src="images/star_filled.jpg"></img>
                    <img src="images/star.jpg"></img>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END DASHBOARD -->

<!-- DETAILS -->
<!-- Dynamic content -->
<div class="divTopContent" ng-style="topContentStyle">

    <div id="divPerson">
        <table id="tablePerson">
            <tr>
                <td rowspan="2">
                    <img src="./images/personen/persoon13.png" id="imgPersonPic" />
                </td>
                <td>
                    <p class="pTopContentTitle">Tony Klaassen</p>
                </td>
                <td>
                    <div class="divRatingWrapper">
                        <img src="./images/star-filled.png" class="imgStar" />
                        <img src="./images/star-filled.png" class="imgStar" />
                        <img src="./images/star-filled.png" class="imgStar" />
                        <img src="./images/star-half-filled.png" class="imgStar" />
                        <img src="./images/star-empty.png" class="imgStar" />
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="divBlock"></div>
                    <p class="pTopContentSubTitle">De Viersprong Basisschool</p>
                </td>
            </tr>
        </table>
    </div>

    <div id="divRecent">
        <p class="pTitle">Recente bronnen</p>
        <div class="divExpertise">
            <table class="tableExpertise">
                <tr>
                    <td>
                        <p class="pSmallTitle">Samenleving document</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="pItalic">03-04-2016</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="pItalic">Auteur: Niels Snakenborg</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="divRatingWrapper">
                            <img src="./images/star-filled.png" class="imgStar" />
                            <img src="./images/star-filled.png" class="imgStar" />
                            <img src="./images/star-filled.png" class="imgStar" />
                            <img src="./images/star-half-filled.png" class="imgStar" />
                            <img src="./images/star-empty.png" class="imgStar" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="divExpertise">
            <table class="tableExpertise">
                <tr>
                    <td>
                        <p class="pSmallTitle">Samenleving document</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="pItalic">03-04-2016</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="pItalic">Auteur: Niels Snakenborg</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="divRatingWrapper">
                            <img src="./images/star-filled.png" class="imgStar" />
                            <img src="./images/star-filled.png" class="imgStar" />
                            <img src="./images/star-filled.png" class="imgStar" />
                            <img src="./images/star-half-filled.png" class="imgStar" />
                            <img src="./images/star-empty.png" class="imgStar" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="divExpertise">
            <table class="tableExpertise">
                <tr>
                    <td>
                        <p class="pSmallTitle">Samenleving document</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="pItalic">03-04-2016</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="pItalic">Auteur: Niels Snakenborg</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="divRatingWrapper">
                            <img src="./images/star-filled.png" class="imgStar" />
                            <img src="./images/star-filled.png" class="imgStar" />
                            <img src="./images/star-filled.png" class="imgStar" />
                            <img src="./images/star-half-filled.png" class="imgStar" />
                            <img src="./images/star-empty.png" class="imgStar" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="divTextWrapper">
        <p class="pTitleUnderline">Over mij</p>
        <p class="pText">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
        </p>
    </div>


    <div class="divTopContentFooter">
        <div class="divTopContentFooterButton" ng-click="slideUp()">
            <img src="./images/arrow_down_white.png" class="imgTopContentFooterArrow" />
        </div>
    </div>
</div>
<!-- END DETAILS -->