<div id="wrapper" class="color2">

    <div class="divHalf color1" >
        <table id="tableSchoolInfo">
            <tr>
                <td><img id="imgSchoolLogo" src="images/logo_school.jpg"/></td>
                <td>
                    <h2>De Viersprong</h2>
                    <h3>Basisschool</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Ons Aanbod</b><br/><br/>
                    rondleiding<br/>
                    workshops<br/>
                    even sparren<br/>
                </td>
                <td>
                    <div class="divRating">
                        <div class="divImgRating"></div>
                        <div class="divImgRating"></div>
                        <div class="divImgRating"></div>
                        <div class="divImgRating"></div>
                        <div class="divImgRating"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Onze Experts</b>
                </td>
                <td>
                    <div class="divSocial">
                        <img src="images/fb.png" class="imgSocial"/>
                        <img src="images/twitter.png" class="imgSocial"/>
                        <img src="images/mail.png" class="imgSocial"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdExperts" colspan="2">
                    <a href="#/person/0">
                        <div id="divExperts">
                            <div class="divExpert" style="background: url('images/person1.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Jan Derks</p>
                                    <p class="pExpertTagSubTitle">Leerkracht</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person2.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Berry Jansen</p>
                                    <p class="pExpertTagSubTitle">Mentor</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person3.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Dirk van Dal</p>
                                    <p class="pExpertTagSubTitle">Leerkracht</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person1.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Jan Derks</p>
                                    <p class="pExpertTagSubTitle">Leerkracht</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person2.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Berry Jansen</p>
                                    <p class="pExpertTagSubTitle">Mentor</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person3.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Dirk van Dal</p>
                                    <p class="pExpertTagSubTitle">Leerkracht</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person1.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Jan Derks</p>
                                    <p class="pExpertTagSubTitle">Leerkracht</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person2.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Berry Jansen</p>
                                    <p class="pExpertTagSubTitle">Mentor</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person3.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Dirk van Dal</p>
                                    <p class="pExpertTagSubTitle">Leerkracht</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person1.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Jan Derks</p>
                                    <p class="pExpertTagSubTitle">Leerkracht</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person2.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Berry Jansen</p>
                                    <p class="pExpertTagSubTitle">Mentor</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person3.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Dirk van Dal</p>
                                    <p class="pExpertTagSubTitle">Leerkracht</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person1.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Jan Derks</p>
                                    <p class="pExpertTagSubTitle">Leerkracht</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person2.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Berry Jansen</p>
                                    <p class="pExpertTagSubTitle">Mentor</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person3.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Dirk van Dal</p>
                                    <p class="pExpertTagSubTitle">Leerkracht</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person1.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Jan Derks</p>
                                    <p class="pExpertTagSubTitle">Leerkracht</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person2.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Berry Jansen</p>
                                    <p class="pExpertTagSubTitle">Mentor</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person3.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Dirk van Dal</p>
                                    <p class="pExpertTagSubTitle">Leerkracht</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person1.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Jan Derks</p>
                                    <p class="pExpertTagSubTitle">Leerkracht</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person2.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Berry Jansen</p>
                                    <p class="pExpertTagSubTitle">Mentor</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person3.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Dirk van Dal</p>
                                    <p class="pExpertTagSubTitle">Leerkracht</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person1.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Jan Derks</p>
                                    <p class="pExpertTagSubTitle">Leerkracht</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person2.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Berry Jansen</p>
                                    <p class="pExpertTagSubTitle">Mentor</p>
                                </div>
                            </div>
                            <div class="divExpert" style="background: url('images/person3.jpg'); background-size: contain">
                                <div class="divExpertOverflow"></div>
                                <div class="divExpertTag">
                                    <p class="pExpertTagTitle">Dirk van Dal</p>
                                    <p class="pExpertTagSubTitle">Leerkracht</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </td>
            </tr>
        </table>
    </div>


    <div class="divHalf color2" >
        <div class="page-header">
            <h3>Onze Expertise</h3>
        </div>
            <div id="content-box">
        </div>
    </div>
</div> 