/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.divAdminTableWrapper {
  float: left;
  position: relative;
  height: auto;
  width: 60%;
  margin-top: 20px;
  font-family: "Open Sans";
  color: #a5a5a5;
  font-size: 14px;
}
.divAdminTableWrapper table {
  width: 100%;
  height: auto;
}
.divAdminTableWrapper table tr:first-of-type td:first-of-type {
  width: 50px;
}
.divAdminTableWrapper table tr:first-of-type td {
  background: #5b8fe4;
  height: 40px;
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
  color: #e0ecff;
}
.divAdminTableWrapper table tr:first-of-type td .fa.fa-plus {
  position: absolute;
}
.divAdminTableWrapper table tr:first-of-type:hover {
  border-right: none;
}
.divAdminTableWrapper table tr {
  height: 50px;
  background: #FFFFFF;
}
.divAdminTableWrapper table tr td {
  vertical-align: middle;
  max-width: 200px;
  overflow: hidden;
}
.divAdminTableWrapper table tr td:last-child {
  width: 70px;
}
.divAdminTableWrapper table tr td span {
  color: #9a9a9a;
  font-size: 19px;
  margin-right: 10px;
}
.divAdminTableWrapper table tr td .action {
  cursor: pointer;
}
.divAdminTableWrapper table tr td:first-of-type span {
  transform: none !important;
  float: inherit !important;
  margin: 0px !important;
  color: #c5c5c5;
  padding-left: 15px;
}
.divAdminTableWrapper table tr:hover {
  border-right: 2px solid #5b8fe4;
}
.divAdminTableWrapper table tr:nth-child(odd) {
  background: #F9F9F9;
}
.divAdminResourcesDetail {
  width: calc(40% - 20px);
  float: right;
  height: auto;
  margin-top: 20px;
  background: #FFFFFF;
  padding: 20px;
  box-sizing: border-box;
}
.divAdminResourcesDetail input {
  width: 100%;
  height: 40px;
  background: #F9F9F9;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
}
.divAdminResourcesDetail textarea {
  width: 100%;
  height: 200px;
  resize: none;
  border: none;
  background: #F9F9F9;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
}
.divAdminResourcesDetail button {
  width: 100px;
  height: 30px;
  color: #FFFFFF;
  background: #5b8fe4;
  cursor: pointer;
  float: right;
}
#iAddContent {
  cursor: pointer;
  font-size: 28px;
  margin-top: -12px;
  margin-left: 26px;
  color: #ffffff;
}
#iAddContent:hover {
  color: #d6e3f9;
}
.popup_message {
  margin-top: -80px;
}
