@import 'resources/variables.less';
@import 'resources/elements.less';

.divAdminProfileWrapper{
    position: absolute;
    float: left;
    min-height: 500px;
    height: auto;
    background: #FFFFFF;
    padding: 30px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 50px;

    input{
        color: gray;
        border-bottom: 1px solid #e2e2e2 !important;
        background-color: #FFF !important;
    }
    h1{
        color: gray;
    }
    h2{
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 10px;
        color: #a7a7a7;
    }
    textarea{
        width: ~'calc(100% - 240px)';
        height: 300px;
        padding: 20px;
        color: #9a9a9a;
        border: 1px solid #f1f1f1;
    }
    button{
        border-radius: 5px;
    }

    .divProfileBasics{
        width: 100%;
        max-width: 800px;
        height: auto;
        float: left;

        input[type="file"]{
            width: 144px;
            height: 37px;
            clear: both;
            float: right;
            &:before{
                content: 'Selecteer profielfoto';
                display: block;
                background: #73a1ee;
                border-radius: 5px;
                padding: 11px;
                box-sizing: border-box;
                text-align: center;
                outline: none;
                color: #FFFFFF;
                white-space: nowrap;
                -webkit-user-select: none;
                cursor: pointer;
                font-weight: 200;
                font-size: 13px;
                position: absolute;
            }
        }

        .divProfileImage{
            float: right;
            width: 150px;
            height: 150px;
            background: #dcdcdc;
            border-radius: 75px;
        }

        .input_file{
            margin-top: 20px;
        }

        .divPersonal{
            width: 100%;
            margin-top: 30px;

            table{

                width: 100%;
                height: 100%;

                tr td:first-of-type{
                    padding-right: 20px;
                    box-sizing: border-box;
                }

                tr td{
                    input, textarea{
                        width: 100%;
                        height: 40px;
                        background: #EFEFEF;
                        border: none;
                        padding-left: 10px;
                        padding-right: 10px;
                        box-sizing: border-box;
                        float: left;
                        margin-top: 5px;
                    }

                    textarea{
                        height: 150px;
                        resize: none;
                        padding: 10px;
                    }

                    button{
                        width: 100px;
                        height: 30px;
                        color: #FFFFFF;
                        background: @color_main1;
                        cursor: pointer;
                        float: right;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
