.divResourcesPopup {
  position: fixed;
  width: 500px;
  height: 250px;
  background: #FFFFFF;
  box-shadow: 5px 5px 15px 0px #9c9c9c;
  z-index: 9999999;
  top: 100px;
  left: calc(50% - 250px);
  padding: 30px;
  box-sizing: border-box;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  border-radius: 5px;
}
.divResourcesPopup b {
  color: #bfbfbf;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}
#imgResourceWrapper {
  position: relative;
  width: 100%;
  background: red;
  margin-top: 50px;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.imgResource {
  width: 90px;
  background: #B1B5BD;
  padding: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  float: left;
  margin: 10px;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#imgResourceYoutube {
  background: #ec4c44;
}
#imgResourceYoutube:hover {
  background: #E62117;
}
#imgResourceImage {
  background: #f9e45a;
}
#imgResourceImage:hover {
  background: #f7dc29;
}
#imgResourcePdf {
  background: #87adeb;
}
#imgResourcePdf:hover {
  background: #5B8FE4;
}
#imgResourceWebsite {
  background: #b0e231;
}
#imgResourceWebsite:hover {
  background: #95C41C;
}
.divResourcesPopup .dynamic_content {
  width: 100%;
  margin-top: 10px;
  text-align: left;
  float: left;
  border-top: 1px solid #efefef;
  padding-top: 20px;
  box-sizing: border-box;
}
.inputResource {
  width: 100%;
  height: 35px;
  background: #F5F5F5;
  border: none;
  float: left;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  outline: 0;
}
#divYoutubeResult {
  width: 100%;
  height: 210px;
  float: left;
  margin-top: 10px;
  overflow: auto;
}
.divSearhResult {
  width: calc(90%);
  height: 100px;
  float: left;
  border-bottom: 1px solid #5b8fe4;
  margin-top: 20px;
}
.tableResult tr td {
  vertical-align: top;
  text-align: left;
}
.tableResult button {
  width: 80px;
  height: 30px;
  color: #FFFFFF;
  margin-left: 20px;
  background: #5b8fe4;
  cursor: pointer;
}
.pResultTitle {
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  font-weight: bold;
}
#inputImage {
  width: 100%;
  margin-top: 10px;
}
#imgPreview {
  max-width: 100%;
  max-height: 210px;
  border: 2px solid #dcdcdc;
  margin-top: 10px;
}
#imgLoadingPreview {
  display: block;
  width: 50px;
  position: absolute;
  right: 0px;
  top: 200px;
}
#txtName,
#selectComunity {
  width: 100%;
  height: 35px;
  float: left;
  margin: 0px;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  outline: 0;
}
#txtName {
  margin-top: 10px;
}
#txtDescription {
  width: 100%;
  height: 110px;
  float: left;
  margin-top: 5px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Lato-Regular;
  resize: none;
  outline: 0;
}
#pMessage {
  width: 100%;
  margin-top: 10px !important;
}
#btnSave,
#btnAddImage,
#btnAddPdf {
  width: 80px;
  height: 30px;
  color: #FFFFFF;
  background: #5b8fe4;
  cursor: pointer;
  margin-top: 10px;
}
#btnAddImage {
  position: absolute;
  top: 210px;
  right: 20px;
}
#btnAddPdf {
  position: absolute;
  top: 260px;
  left: 20px;
}
#imgCloseResourcesPopup {
  position: absolute;
  width: 20px;
  cursor: pointer;
  top: 20px;
  right: 20px;
}
