<div class="dynamic_content" ng-if="type == 'person'" data-content="user" user_directive></div>
<div class="dynamic_content" ng-if="type == 'school'" data-content="school" school_directive></div>
<div class="dynamic_content" ng-if="type == 'keyword'" data-content="keyword" keyword_directive></div>

<!-- DASHBOARD -->
<div class="dashboard_container">

    <div class="web_content">
        <vis-network id="web" data="data" options="options" events="events">
        </vis-network>
    </div>

    <!-- ZOEKEN -->
    <div class="search_side_content">
        <div class="search_container">
            <div class="tag_container">
                <span>School</span>
                <span>Samenleving</span>
            </div>
            <input class="search_bar" type="text" placeholder="School en samenleving" autofocus></input>
            <button class="search_button"></button>
        </div>
    </div>

    <div class="side_content_scrollWrapper">
        <div class="side_content" id="side_content">

            <!-- ZOEKEN -->
            <div class="documents_container">
                <div class="header">Bronnen van {{user.firstName}}</div>
                <!-- Naam moet dynamisch toegevoegd worden -->
                <button class="btn_addDocument">Bron maken <i class="fa fa-plus" aria-hidden="true"></i></button>

                <!-- DOCUMENTS -->
                <div class="documents">
                    <div text_preview></div>
                    <div image_preview></div>
                    <div youtube_preview></div>
                    <div webpage_preview></div>
                    <div pdf_preview></div>


                </div>
            </div>
        </div>
    </div>
</div>

<!-- END DASHBOARD -->