<div id="divLoginBackgroundOverlay"></div>
<div id="divLogin">

    <p id="pLoginTitle">Inloggen</p>
    <input type="text" class="inputLogin" placeholder="Email" />
    <input type="password" class="inputLogin" placeholder="Password" />
    <div id="divLinkWrapper">
        <a href="#">registreren</a>
        <a href="#">wachtwoord vergeten</a>
    </div>
    <button id="buttonLogin">Inloggen</button>
    <div id="divLoginColorWrapper">
        <div class="divLoginColor blue"></div>
        <div class="divLoginColor yellow"></div>
        <div class="divLoginColor red"></div>
        <div class="divLoginColor green"></div>
    </div>
</div>