<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <title>DEV-Onderwijskennismakers</title>

    <link rel="stylesheet" type="text/css" href="js/custom/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.css">

    <link rel="stylesheet" type="text/css" href="css/resources/vis.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/style_dashboard.css">
    <link rel="stylesheet" type="text/css" href="css/style_login.css">
    <link rel="stylesheet" type="text/css" href="css/style_resources.css">
    <link rel="stylesheet" type="text/css" href="css/previews.css">
</head>

<body>
<!-- Menu -->
<div id="divMenu" ng-style="menuStyle" ng-controller="MenuCtrl">
  <span class="spanHamburger"></span>
  <ul class="divMenuSelected" ng-style="subMenuStyle">
    <li ng-style="subMenuChildrenStyle" ng-click="moveMenu()"><i id="spanMoveMenu" ng-style="arrowStyle" class="fa fa-arrow-right" aria-hidden="true"></i></li>
    <li ng-style="subMenuChildrenStyle"><i class="fa fa-search" aria-hidden="true"></i> Zoeken</li>
    <li ng-style="subMenuChildrenStyle"><i class="fa fa-building" aria-hidden="true"></i> School aanmelden</li>
    <li ng-style="subMenuChildrenStyle" ng-click="openResources()" ><i class="fa fa-file-o" aria-hidden="true"></i> Bijdragen</li>
    <li ng-style="subMenuChildrenStyle"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Mijn updates</li>
  </ul>
</div>

<!-- ADD RESOURCE -->
<!-- <div class="recources_container" ng-controller="ResourcesCtrl">
  <div class="dynamic_content" ng-if="type == 'addResource'" data-content="resources" resource_overview_directive></div>
</div> -->

<div ui-view class="wrapper"></div>

<script src="js/app.js"></script>

<!-- Sideloading Vis.JS -->
<script src="js/lib/vis/vis.js"></script>
<script src="js/lib/vis/angular-vis.js"></script>

</body>

</html>
