<!-- Doc -->
<div class="item" style="background-image:url('{{preview.link}}');" ng-click="loadContent(preview.id)">
 <div class="bgOverlay">

    </div>
    <div class="profile_image" style="background-image: url('{{preview.profileImage}}');"></div>
    <div class="title">
        {{ preview.name }}
    </div>


    <div class="popover">

        <div class="subtitle">
            {{ preview.shortDescription }}
        </div>
        <div class="subtitle">
          {{ preview.createdAt | datetime }}
        </div>
    </div>

    <div class="stars" ng-if="preview.rating">
        <img ng-repeat="i in getTimes(getSteppedRating(preview.rating)) track by $index" src="images/star-filled.png"></img>
        <img ng-if="steppendRatingIsFull(preview.rating) == false" src="images/star-half-filled.png"></img>
    </div>
</div>
