<!-- Doc -->
<div class="doc" ng-click="loadContent(preview.id)">
    <div class="type"><i class="fa fa-file-pdf-o"></i></div>
    <h3>{{ preview.name }}</h3>
    <p>{{ preview.author }}</p>
    <p>{{preview.createdAt | datetime}}</p>
    <p>{{ preview.shortDescription }}</p>

    <div class="pdfcontainer">
        <iframe class="frame" src="https://ec.europa.eu/digital-single-market/sites/digital-agenda/files/KK-31-13-401-EN-N.pdf"></iframe>
    </div>
    <div class="stars" ng-if="preview.rating">
        <img ng-repeat="i in getTimes(getSteppedRating(preview.rating)) track by $index" src="images/star-filled.png"></img>
        <img ng-if="steppendRatingIsFull(preview.rating) == false" src="images/star-half-filled.png"></img>

        {{getSteppedRating(preview.rating)}}
    </div>
</div>
