<!-- Doc -->
<a href="https://ec.europa.eu/digital-single-market/sites/digital-agenda/files/KK-31-13-401-EN-N.pdf" target="top">
    <div class="doc">
        <div class="type"><i class="fa fa-file-pdf-o"></i></div>
        <h3>Onderzoek naar ICT in het basisonderwijs</h3>
        <p>Auteur: Frank de Boer</p>
        <p>Aantal pagina's: 27</p>
        <p>Dit onderzoekt kijkt naar de voor- en nadelen van het vroeg inzetten van ict in het basisonderwijs en komt met verassende
            conclussies.
        </p>

        <div class="pdfcontainer">
            <iframe id="frame" src="https://ec.europa.eu/digital-single-market/sites/digital-agenda/files/KK-31-13-401-EN-N.pdf"></iframe>
        </div>
        <!--http://www.viersprongwijchen.nl/-->

    </div>
</a>