<!-- Doc -->
<div class="doc" >
        <h3>{{data.newResourcePreview.name}}</h3>
        <p>{{data.newResourcePreview.description}}</p>
        <div class="pdf_container2">
            <iframe class="frame" src="{{data.newResourcePreview.link}}" ></iframe>
        </div>
    <div class="stars" ng-if="preview.rating">
        <img ng-repeat="i in getTimes(getSteppedRating(preview.rating)) track by $index" src="images/star-filled.png"></img>
        <img ng-if="steppendRatingIsFull(preview.rating) == false" src="images/star-half-filled.png"></img>
    </div>
</div>
