<!-- Doc -->
<div class="doc" ng-click="loadContent(preview.id)">
    <div class="type"><i class="fa fa-file-text-o"></i></div>
    <h3>{{preview.name}}</h3>
    <p>{{preview.createdAt}}</p>
    <p>{{preview.author}}</p>
    <p>{{preview.shortDescription}}</p>
    <div class="stars" ng-if="preview.rating">
        <img ng-repeat="i in getTimes(getSteppedRating(preview.rating)) track by $index" src="images/star-filled.png"></img>
        <img ng-if="steppendRatingIsFull(preview.rating) == false" src="images/star-half-filled.png"></img>

        {{getSteppedRating(preview.rating)}}
    </div>
</div>
