<!-- Doc -->
<a href="http://www.bing.com" target="top">
    <div class="doc">
        <div class="type"><i class="fa fa-globe"></i></div>
        <h3>Bing search engine</h3>
        <p>Een geweldige zoek machine om alle top bronnen te vinden!</p>

        <div class="websitecontainer">
            <div id="iContainer">
                <iframe class="frame" src="http://www.bing.com"></iframe>
                <div id="protector"></div>
            </div>
        </div>
        <!--http://www.viersprongwijchen.nl/-->

    </div>
</a>