<!-- Doc -->
<a href="https://www.leraar24.nl/dossier/5987/ict-toepassingen-in-de-les#tab=0" target="top">
    <div class="doc">
        <div class="type"><i class="fa fa-globe"></i></div>
        <h3>Leraar24</h3>
        <p>Een geweldige site met heel veel informatie!</p>

        <div class="websitecontainer">
            <div id="iContainer">
                <iframe class="frame" src="https://www.leraar24.nl/dossier/5987/ict-toepassingen-in-de-les#tab=0" onfocus="parent.document.focus();"></iframe>
                <div id="protector"></div>
            </div>
        </div>
        <!--http://www.viersprongwijchen.nl/-->

    </div>
</a>