<div class="doc">
    <!--<div class="profile_image" style="background-image: url('{{preview.profileImage}}');"></div>-->
    <h3>{{data.newResourcePreview.name}}</h3>
    <p>{{data.newResourcePreview.description}}</p>

        <div class="websitecontainer">
            <div id="iContainer">
                <iframe class="frame" src="{{data.newResourcePreview.link}}"></iframe>
                <div id="protector"></div>
            </div>
        </div>
    <div class="stars" ng-if="preview.rating">
        <img ng-repeat="i in getTimes(getSteppedRating(preview.rating)) track by $index" src="images/star-filled.png"></img>
        <img ng-if="steppendRatingIsFull(preview.rating) == false" src="images/star-half-filled.png"></img>

        {{getSteppedRating(preview.rating)}}
    </div>
</div>

