<!-- Doc -->
<div class="doc">

    <div class="type"><i class="fa fa-play"></i></div>
    <h3>Video over Mevolution</h3>
    <p>Kort maar krachtig: Wat is Mevolution?</p>
    <a href="https://www.youtube.com/watch?v=jRlrojsmn6U" target="top">
        <div class="video_thumbnail" style="background-image:url('http://img.youtube.com/vi/jRlrojsmn6U/maxresdefault.jpg');">
            <div class="bgOverlay">

            </div>
        </div>
    </a>
    <!--<img class="video_thumbnail" src='http://img.youtube.com/vi/jRlrojsmn6U/maxresdefault.jpg'>-->

</div>