<!-- Doc -->
<div class="doc" ng-click="loadContent(preview.id)">
    <!-- <div class="type"><i class="fa fa-play"></i></div> -->
    <div class="profile_image" style="background-image: url('{{preview.profileImage}}');"></div>
    <h3>{{preview.name}}</h3>
    <p>{{preview.createdAt | datetime}}</p>
    <p>{{preview.shortDescription | limitTo: 100}}</p>
        <div class="video_thumbnail" style="background-image:url('http://img.youtube.com/vi/{{preview.link}}/default.jpg');">
            <div class="bgOverlay">
              <!-- Youtube Icon -->
            </div>
        </div>
    </a>
    <!-- TODO: beoordelingen dynamisch inladen -->

    <div class="stars" ng-if="preview.rating">
        <img ng-repeat="i in getTimes(getSteppedRating(preview.rating)) track by $index" src="images/star-filled.png"></img>
        <img ng-if="steppendRatingIsFull(preview.rating) == false" src="images/star-half-filled.png"></img>
    </div>
</div>
