<div class="add_school" ng-if="progress = 'addSchool'">
	<h1>School toevoegen</h1>

	<form name="addSchool_form">

		<span>Schoolnaam</span>
		<input ng-model="school.name" type="text" placeholder="Schoolnaam" required></input>

		<!-- FOTO -->
		<span>Voeg een foto toe</span>
	    <input onchange="angular.element(this).scope().file_changed(this)" type="file" accept="image/*" class="input_file" required/>

		<span>Geef hier een beschrijving van de school</span>
		<textarea ng-model="school.description" placeholder="Geef hier een beschrijving van de school" required></textarea>

	    <!-- TOEVOEGEN -->
		<button ng-disabled="addSchool_form.$invalid" ng-click="registerSchool(school)">School toevoegen</button>

	</form>

</div>

<div class="school_list" ng-if="progress = 'schoolList'">
	<h1>Scholen</h1>
	<table>
		<tr>
			<td>Naam</td>
			<td>Beschrijving</td>
			<td>Aangemaakt op</td>
			<td></td>
		</tr>
		<tr ng-repeat="school in schools" ng-click="progress = 'schoolUsers'">
			<td>{{school.name}}</td>
			<td>{{school.description | limitTo: 10}}</td>
			<td>{{school.createdAt}}</td>
			<td>
				<span class="fa fa-pencil" aria-hidden="true" ng-click="progress = 'editSchool'"></span>
				<span class="fa fa-trash-o" aria-hidden="true" ng-click="deleteSchool"></span>
			</td>
		</tr>
	</table>
</div>

<div class="edit_school" ng-if="progress = 'editSchool'">
	
</div>

<div class="user_list" ng-if="progress = 'schoolUsers'">
	<span ng-repeat="user in users">{{user.firstName}}</span>
</div>


