<div class="background_wrapper">

	<div class="admin_menu">
		<div class="profile_image_container" ng-click="tab = 'myProfile'">
			<div class="profile_image" style="background-image: url('{{user.profileImage}}');"></div>
		</div>

	 	<!-- MENU -->
		<!-- Ng click is generating a new scope -->
		<li ng-click="tab = 'personalContent'">Mijn bronnen</li>
		<li ng-if="user.isAdmin == 1" ng-click="$parent.tab = 'keywords'">Trefwoorden</li>
		<li ng-if="user.isAdmin == 1" ng-click="$parent.tab = 'tags'">Tags</li>
		<li ng-click="tab = 'myProfile'">Mijn profiel</li>
		<li ng-if="user.isAdmin == 1" ng-click="$parent.tab = 'school'">Scholen</li>

	</div>

	<div class="top_bar_container">
		<a ui-sref="dashboard" class="dashboard_link">Terug naar dashboard</a>
	</div>

	<div class="adminPanel_container">


		<!-- Hier worden verschillende tabs ingeladen, deze kun je vinden onder partials/admin/*-->
		<div ui-view="personalContent" ng-if="tab == 'personalContent'"></div>
		<div ui-view="keywords" ng-if="tab == 'keywords'"></div>
		<div ui-view="tags" ng-if="tab == 'tags'"></div>
		<div ui-view="profile" ng-if="tab == 'myProfile'"></div>
		<div ui-view="school" ng-if="tab == 'school'"></div>



	</div>

</div>
