<div class="divTopBar" ng-style="topBarStyle" ng-click="slideDown()">
    <div class="divTopBarContent">
        {{content.name}}
    </div>
    <img src="./images/arrow_down.png" class="imgTopBarArrow" />
</div>

<!-- CONTENT -->
<div class="divTopContent" ng-style="topContentStyle">

    <div class="content_wrapper">
        <div class="content_directive">
        	<div class="header_content">
        	    <h1 class="title">{{content.name}}</h1>

                <div class="subtitle">
            	    <div class="color_block"></div>
            	    <span class="head">Aangemaakt op: </span><span>{{content.createdAt}}</span>
            	    <span class="head">Aangemaakt door: </span><span>{{user.firstName}} {{user.lastName}}</span>
                </div>
            </div>	

            <div class="custom_content">
                <!-- CUSTOM CONTENT -->
                <div ng-if="content.Type == 'internal'">
                	<p class="content">
                		{{content.content}}
                	</p>
                </div>

                <!-- YOUTUBE -->
                <div ng-if="content.Type == 'youtube'">
                    <div class="videoContainer">
                	   <iframe class="youtubeFrame" width="100%" height="400" src="{{trustSrc('http://www.youtube.com/embed/' + content.link)}}"></iframe>
                    </div>
                </div>

                <!-- PDF -->
                <div ng-if="content.Type == 'pdf'">
                    <div class="pdf">
                        <h3>{{ content.name }}</h3>
                        <p>{{ content.author }}</p>
                        <p>{{ content.shortDescription }}</p>
                        <div class="pdfcontainer">
                            <iframe class="pdfFrame" width="100%" height="600px" src="{{trustSrc(content.link)}}"></iframe>
                        </div>
                    </div>
                </div>

                <!-- WEBSITE -->
                <div ng-if="content.Type == 'website'">

                	<a href="" target="top"></a>
                    <div class="website">
                        <h3>{{ content.name }}</h3>
                        <p>{{ content.shortDescription }}</p>

                        <div id="websiteContainer">
                            <iframe class="websiteFrame" width="100%" ng-src="{{ trustSrc(content.link) }}" onfocus="parent.document.focus();"></iframe>
                        </div>
                    </div>
                    

                </div>

                <!-- IMAGE -->
                <div ng-if="content.Type == 'image'">
                    <div class="image">
                        <img src="{{content.link}}"/>
                    </div>
                	
                </div>

            </div>

        </div>
    </div>



    <div class="divTopContentFooter" ng-style="bottomBarStyle">
        <div class="divTopContentFooterButton" ng-click="slideUp()">
            <img src="./images/arrow_down_white.png" class="imgTopContentFooterArrow" />
        </div>
    </div>
</div>
