<div class="divTopBar" ng-style="topBarStyle" ng-click="slideDown()">
    <div class="divTopBarContent">
        {{singleContent.name}}
    </div>
    <img src="./images/arrow_down.png" class="imgTopBarArrow" />
</div>

<!-- CONTENT -->
<div class="divTopContent" ng-style="topContentStyle">

    <div class="content_wrapper">
        <div class="content_directive">
        	<div class="header_content">
        	    <h1 class="title">{{singleContent.name}}</h1>

                <div class="subtitle">
            	    <span class="head">Aangemaakt op: </span><span>{{singleContent.createdAt}}</span>
            	    <span class="head">Aangemaakt door: </span><div class="profile_image" ng-click="loadUser(user.id, true)" style="background-image: url('{{user.profileImage}}');"></div><!--<span class="user" ng-click="loadUser(user.id, true)">{{user.firstName}} {{user.lastName}}</span>-->
                    <div style="clear: both"></div>
                </div>
                <div class="description_title">
                    <div class="color_block"></div>
                    <h2>Omschrijving</h2>
                </div>
                <p ng-if="singleContent.Type != 'internal'" class="short_description">
                    {{singleContent.shortDescription}}
                </p>
                <div style="clear: both"></div>
            </div>	

            <div class="custom_content">
                <!-- CUSTOM CONTENT -->
                <div ng-if="singleContent.Type == 'internal'">
                	<p class="content">
                		{{singleContent.content}}
                	</p>
                </div>

                <!-- YOUTUBE -->
                <div ng-if="singleContent.Type == 'youtube'">
                    <div class="videoContainer">
                	   <iframe class="youtubeFrame" width="100%" height="400" src="{{trustSrc('http://www.youtube.com/embed/' + singleContent.link)}}"></iframe>
                    </div>
                </div>

                <!-- PDF -->
                <div ng-if="singleContent.Type == 'pdf'">
                    <div class="pdf">
                        <div class="pdfcontainer">
                            <iframe class="pdfFrame" width="100%" height="600px" src="{{trustSrc(singleContent.link)}}"></iframe>
                        </div>
                    </div>
                </div>

                <!-- WEBSITE -->
                <div ng-if="singleContent.Type == 'website'">

                	<a href="" target="top"></a>
                    <div class="website">
                        <div id="websiteContainer">
                            <iframe class="websiteFrame" width="100%" ng-src="{{ trustSrc(singleContent.link) }}" onfocus="parent.document.focus();"></iframe>
                        </div>
                    </div>
                    

                </div>

                <!-- IMAGE -->
                <div ng-if="singleContent.Type == 'image'">
                    <div class="image">
                        <img src="{{singleContent.link}}"/>
                    </div>
                	
                </div>

            </div>

        </div>
    </div>



    <div class="divTopContentFooter" ng-style="bottomBarStyle">
        <div class="divTopContentFooterButton" ng-click="slideUp()">
            <img src="./images/arrow_down_white.png" class="imgTopContentFooterArrow" />
        </div>
    </div>
</div>
