<div class="divTopBar" ng-style="topBarStyle" ng-click="slideDown()">
    <div class="divTopBarContent">
        {{content.name}}
    </div>
    <img src="./images/arrow_down.png" class="imgTopBarArrow" />
</div>

<!-- CONTENT -->
<div class="divTopContent" ng-style="topContentStyle">

    



    <div class="divTopContentFooter" ng-style="bottomBarStyle">
        <div class="divTopContentFooterButton" ng-click="slideUp()">
            <img src="./images/arrow_down_white.png" class="imgTopContentFooterArrow" />
        </div>
    </div>
</div>
