<div class="divTopBar" ng-style="topBarStyle" ng-click="slideDown()">
    <div class="divTopBarContent">
        {{keyword.keyword}}
    </div>
    <img src="./images/arrow_down.png" class="imgTopBarArrow" />
</div>

<!-- PROFILE -->
<!-- Dynamic content -->
<div class="divTopContent" ng-style="topContentStyle">

    <div class="content_wrapper">
        <div id="keyword_container">
            <div class="keywordInfo_container">
                <!-- PROFILE IMAGE -->
                <img src="./{{editor.profileImage}}" class="profile_image" />

                <div class="flex_container">
                    <div class="nameTitel_container">

                        <div class="name_flex_container">
                            <p class="title">{{keyword.keyword}}</p>
                        </div>
                        <div class="editor_flex_container">
                            <div class="editor_block"></div>
                            <p ng-click="loadUser(editor.id, true)">Eindredacteur: {{editor.firstName}} {{editor.lastName}}</p>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="keyword_wiki_container">
                <p class="title">Wiki</p>
                <p class="description">
                    {{keyword.description}}
                </p>
                <!--<i class="fa fa-pencil edit_icon" aria-hidden="true"></i>-->
            </div>

            <div class="associated_tags">
                <vis-network id="keywordWeb" data="keywordData" options="keywordOptions" events="keywordEvents">
                </vis-network>
            </div>

        </div>

        
        <div class="hidden_container">
            <div id="profile_docs_container">
                <div class="header">
                    <p class="title">Bronnen</p>
                </div>

                <div class="documents">
                    <span ng-repeat="preview in content">
                        <div ng-if="preview.Type === 'internal'" data-content="preview" text_preview></div>
                        <div ng-if="preview.Type === 'youtube'" data-content="preview" youtube_preview></div>
                        <div ng-if="preview.Type === 'webpage'" data-content="preview" webpage_preview></div>
                        <div ng-if="preview.Type === 'pdf'" data-content="preview" pdf_preview></div>
                        <div ng-if="preview.Type === 'image'" data-content="preview" image_preview></div>

                    </span>

                </div>
            </div>
        </div>


        <div class="divTopContentFooter" ng-style="bottomBarStyle">
            <div class="divTopContentFooterButton" ng-click="slideUp()">
                <img src="./images/arrow_down_white.png" class="imgTopContentFooterArrow" />
            </div>
        </div>
        
    </div>
</div>
<!-- END PROFILE -->