<div class="divResourcesPopup" ng-controller="ResourcesCtrl" ng-style="popupStyle">
  <b>Nieuwe bron toevoegen</b>
  <div id="imgResourceWrapper" ng-style="wrapperStyle">
    <img src="./images/pdf.png" id="imgResourcePdf" class="imgResource" ng-click="addResource('pdf')" />
    <img src="./images/image.png" id="imgResourceImage" class="imgResource" ng-click="addResource('image')" />
    <img src="./images/youtube.png" id="imgResourceYoutube" class="imgResource" ng-click="addResource('youtube')" />
    <img src="./images/website.png" id="imgResourceWebsite" class="imgResource" ng-click="addResource('website')" />
  </div>
  <div class="dynamic_content" ng-if="type == 'addYoutube'" resource_youtube_directive></div>
</div>
