<div class="divTopBar" ng-style="topBarStyle" ng-click="slideDown()">
    <div class="divTopBarContent">
        {{school.name}}
    </div>
    <img src="./images/arrow_down.png" class="imgTopBarArrow" />
    <div class="divUserImage" style="background-image: url('../{{school.logo}}');"></div>
</div>

<!-- PROFILE -->
<!-- Dynamic content -->
<div class="divTopContent" ng-style="topContentStyle">

    <div class="content_wrapper">
        <div id="person_container">
            <div class="profileInfo_container">
                <!-- PROFILE IMAGE -->
                <img src="./{{school.logo}}" class="profile_image" />

                <div class="flex_container school">
                    <div class="experts_container">
                        <h1>Directeur:</h1>
                        <h1>Onze experts:</h1>
                        <div class="experts">
                            <div ng-repeat="expert in experts" ng-if="expert.isPrincipal ==1" class="expert director" ng-click="loadUser(expert.id, true)" style="background-image: url('../{{expert.profileImage}}');"></div>
                            <div ng-repeat="expert in experts" ng-if="expert.isPrincipal !=1" class="expert" ng-click="loadUser(expert.id, true)" style="background-image: url('../{{expert.profileImage}}');"></div>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="aboutMe_container school">
                <p class="title">Wat hebben wij te bieden</p>
                <p class="description">
                    {{school.description}}
                </p>
            </div>

        </div>

        

        <div id="profile_docs_container">
            <div class="header">
                <p class="title">Recente bronnen</p>
            </div>

            <div class="documents">

                <!-- DOCUMENT -->
                <div class="doc">
                    <h3>Samenleving document</h3>
                    <p>22-04-2016</p>
                    <span>Auteur:</span><span>TJ van Os</span>
                    <div class="rating_container">
                        <img src="./images/star-filled.png"/>
                        <img src="./images/star-filled.png"/>
                        <img src="./images/star-filled.png"/>
                        <img src="./images/star-half-filled.png"/>
                        <img src="./images/star-empty.png"/>
                    </div>
                </div>

                <!-- DOCUMENT -->
                <div class="doc">
                    <h3>Samenleving document</h3>
                    <p>22-04-2016</p>
                    <span>Auteur:</span><span>Ryan Smith</span>
                    <div class="rating_container">
                        <img src="./images/star-filled.png"/>
                        <img src="./images/star-filled.png"/>
                        <img src="./images/star-filled.png"/>
                        <img src="./images/star-half-filled.png"/>
                        <img src="./images/star-empty.png"/>
                    </div>
                </div>

                <!-- DOCUMENT -->
                <div class="doc">
                    <h3>Samenleving document</h3>
                    <p>22-04-2016</p>
                    <span>Auteur:</span><span>Niels Snakenborg</span>
                    <div class="rating_container">
                        <img src="./images/star-filled.png"/>
                        <img src="./images/star-filled.png"/>
                        <img src="./images/star-filled.png"/>
                        <img src="./images/star-half-filled.png"/>
                        <img src="./images/star-empty.png"/>
                    </div>
                </div>


            </div>
        </div>


        <div class="divTopContentFooter" ng-style="bottomBarStyle">
            <div class="divTopContentFooterButton" ng-click="slideUp()">
                <img src="./images/arrow_down_white.png" class="imgTopContentFooterArrow" />
            </div>
        </div>
    </div>
</div>
<!-- END PROFILE -->