<div class="divTopBar" ng-style="topBarStyle" ng-click="slideDown()">
    <div class="divTopBarContent">
        {{user.firstName}} {{user.lastName}}
    </div>
    <img src="./images/arrow_down.png" class="imgTopBarArrow" />
    <div class="divUserImage" style="background-image: url('./{{user.profileImage}}');"></div>
</div>

<!-- PROFILE -->
<!-- Dynamic content -->
<div class="divTopContent" ng-style="topContentStyle">

    <div class="content_wrapper">
        <div id="person_container">
            <div class="personInfo_container">
                <!-- PROFILE IMAGE -->
                <img src="./{{user.profileImage}}" class="profile_image person" />

                <div class="flex_container">
                    <div class="nameRatingSchool_container">

                        <div class="name_flex_container">
                            <p class="title">{{user.firstName}} {{user.lastName}}</p>
                            <div class="rating_container">
                                <img src="./images/star-filled.png"/>
                                <img src="./images/star-filled.png"/>
                                <img src="./images/star-filled.png"/>
                                <img src="./images/star-half-filled.png"/>
                                <img src="./images/star-empty.png"/>
                            </div>
                        </div>
                        <div class="school_flex_container">
                            <div class="school_block"></div>
                            <p class="schoolName" ng-click="loadSchool(user.School_id, true)">{{user.name}}</p>
                        </div>
                    </div>
                </div>
                
            </div>

            <div class="aboutMe_container">
                <p class="title">Over mij</p>
                <p class="description">
                    {{user.functionDescription}}
                </p>
            </div>

        </div>

        
        <div class="hidden_container">
            <div id="profile_docs_container">
                <div class="header">
                    <p class="title">Bronnen</p>
                </div>

                <div class="documents">
                    <span ng-repeat="preview in userContent">
                        <div ng-if="preview.Type === 'internal'" data-content="preview" text_preview></div>
                        <div ng-if="preview.Type === 'youtube'" data-content="preview" youtube_preview></div>
                        <div ng-if="preview.Type === 'webpage'" data-content="preview" webpage_preview></div>
                        <div ng-if="preview.Type === 'pdf'" data-content="preview" pdf_preview></div>
                        <div ng-if="preview.Type === 'image'" data-content="preview" image_preview></div>
                    </span>

                </div>
            </div>
        </div>


        <div class="divTopContentFooter" ng-style="bottomBarStyle">
            <div class="divTopContentFooterButton" ng-click="slideUp()">
                <img src="./images/arrow_down_white.png" class="imgTopContentFooterArrow" />
            </div>
        </div>
    </div>
</div>
<!-- END PROFILE -->