<div>
  <b>Afbeelding</b>
  <!-- <input ng-model="photo"
       onchange="angular.element(this).scope().file_changed(this)"
       type="file" accept="image/*" id="inputImage" /> -->

       <input type="file" ng-file-select="onFileSelect($files)" />
       <img src="{{image}}" id="imgPreview" />

  <img src="../images/loading.gif" id="imgLoadingPreview" ng-hide="imgLoadingPreviewHidden" />
  <button ng-click="setResourceLink(image); saveImage();" data-ng-hide="!image" id="btnAddImage">Toevoegen</button>
</div>
