<div>
    <form name="resourceDetailForm">
      <b>Maak uw bron compleet</b>
      <input type="text" placeholder="Naam" id="txtName" ng-model="newResource.name" required/>
      <div data-ng-hide="!communities">
        <select id="selectComunity" ng-model="newResource.community" required>
          <option value="{{c.id}}" ng-repeat="c in communities">{{c.name}}</option>
        </select>
      </div>
      <textarea maxlength="512" placeholder="Omschrijving" id="txtDescription" ng-model="newResource.description" required></textarea>
      <p id="pMessage">{{message}}</p>
      <button ng-disabled="resourceDetailForm.$invalid"  ng-class=" resourceDetailForm.$invalid ? '' : ''" id="btnSave" ng-click="saveResource(newResource)">Opslaan</button>
  </form>
</div>
