<div>
  <b>Youtube</b>
  <input type="text" id="txtYoutubeSearch" class="inputResource" placeholder="Zoek Video" ng-model="inputYoutube" ng-change="searchYoutube(inputYoutube)" />
  <div id="divYoutubeResult">
    <div class="divSearhResult" ng-repeat="(key, value) in results">
      <table class="tableResult">
        <tr>
          <td rowspan="2"><img src="{{value.snippet.thumbnails.default.url}}" /></td>
          <td><p class="pResultTitle">{{value.snippet.title}}</p></td>
        </tr>
        <tr>
            <!-- TODO: set resource link on the scope, then move on to the detail screen -->
          <td><button ng-click="setResourceLink(value.id.videoId)">Toevoegen</button></td>
          <!-- <td><button ng-click="addResource('details', value.id.videoId )">Toevoegen</button></td> -->
        </tr>
      </table>
    </div>
  </div>
</div>
